html,
body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, sans-serif;
  color: #111;
  background-color:#eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 300;
}